<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <style>
        html, body, #main {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        #form_send {
            width: 30%;
        }
        #stories {
            width: 250px;
        }
    </style>
</head>
<body>
<div id="main" class="row m-0 justify-content-center align-items-center">
    <form method="POST" id="form_send" action="{% url 'parse_data' %}">
        {% csrf_token %}
        <div class="d-flex align-items-end justify-content-between">
            <div class="">
                <label for="stories" class="form-label">Тип истории</label>
                <select name="stories" class="form-control" id="stories">
                    <option value="ask">askstories</option>
                    <option value="show">showstories</option>
                    <option value="new">newstories</option>
                    <option value="job">jobstories</option>
                </select>
            </div>
            <div>

            <button type="submit" class="btn btn-success" id="submit_btn">Скачать</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>